
/* large devices */
@media only screen and (min-width:768px) and (max-width:991px){
    header .navbar .menu{
        width: 60%;
    }
    
    header .navbar .menu li a{
        font-size: 1rem
    }
    .home .container h1{
        font-size: 20px;
        line-height: 10px;
    }
    .home .container .social-links{
        margin-top: 15px;

    }
    .home .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* education */
   

}

/* Large Mobile 480px */
@media only screen and (max-width: 767px){
    header .navbar .menu{
        position:absolute;
       left: -100%;
         
        min-width: 100%;
        background: rgba(15, 20, 35, 0.99);
        text-align: center;
        display: block;
        opacity: 0.9;
        
        
    }
    
    header .navbar .menu li a{
        display: block;
        padding: 10px;
        transition: color 0.5s ease,padding 1s ease,background-color 0.3s ease;
    }
    header .navbar .menu li a:hover{
        background: rgba(177, 212, 224, 0.2);
        color:#b1d4e0;
    }
   
header .navbar .hamburger{
      display: block;
  }


   header .navbar .menu.active{
        top: 12vh;
        left: 0;
        transition: all 0.4s ease-in;
        
    }
    header .navbar .hamburger.active .bar:nth-child(2){opacity:0;}
    header .navbar .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    header .navbar .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
  .about .about-me .content{
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-items: center;
      
  }

  .about .about-me .content img{
      margin-bottom: 30px;
  }
    .about .about-me .content p{
        color: rgb(41, 2, 44);
        font-size: 1em;
    }

    /* Education */
   .education{
       height: auto;
   }
    .education .container{
       flex-direction: column;
       
    }
    .education .container .box{
        width: 100%;
    }
    
    /* Skills */
    .skills{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills .containerone{
        clear: both;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .projects{
        height: auto;
    }
    .projects .container{
      display: flex;
      flex-direction: column;
    }
    .projects .container .box{
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }
    /* Projects */
    
}

